@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
html {
  margin: 0px;
  background: #F2F2F2;
  font-family: "Montserrat", sans-serif;
  &>body {
    margin: 0px;
    background: #F2F2F2;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

hr {
  border: 0;
  height: 1px;
  background: #F2F2F2;
  background-image: linear-gradient(to right, #F9F9F9, #F2F2F2, #F9F9F9);
}

.label {
  padding: 1px 5px 1px 5px;
  font-size: 10px;
  margin: 5px;
  color: #727272;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;
}

.count {
  color: #000;
  font-size: 12px;
  margin: 5px;
}

.button {
  font-size: 18px;
  color: #fff;
  border-radius: 4px;
  margin: 3px 0;
  padding: 1px 5px 1px 5px;
  background-color: #D6D6D6;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;
  &:hover {
    background-color: darken(#D6D6D6, 10);
  }
  &-small {
    font-size: 12px;
    width: 89px;
  }
  &-blue {
    background-color: #53A6D6;
    &:hover {
      background-color: darken(#53A6D6, 10);
    }
  }
}

.nav {
  align-self: center;
  font-size: 14px;
  text-decoration: none;
  margin-left: 30px;
  color: #6F6868;
}

.nav:visited {
  color: #6F6868;
}

textarea, input { outline: none; }

textarea {
  width: 92%;
  border: 1px solid #F2F2F2;
  border-radius: 4px;
}

.textarea {
  padding: 10px;
}